<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/javascript/newPost.js" ></script>
<form action="/add" method="post">
    Title <br/>
    <input id="title" type="text" name="title"/> <div id='titleError' style="visibility:hidden">Title already exists, please change</div>
    <br /> Post <br />
    <textarea class="content" name="content" style="width:250px;height:150px;"></textarea><br/>
    <input id="addPost" type="submit"/> <br/>
    </form>