<div class="post">
    <h2 class="title">{{post.title}}</h2>
    <div class="author">{{post.author}}</div>
    <div class="content">{{#linkKeywords post.content}} {{/linkKeywords}}</div>
    <div class="timestamp">{{post.createdAt}}</div>
</div>