body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.current {
  font-weight: bold;
}
.title {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

.posts {
  margin-bottom: 5%;
  border-style: inset;
  border-color: #6c6c6c;
  border-bottom-color: black;
}

.content {
  text-align: center;
  white-space: pre-wrap;
}

.author {
  font-size: small;
  text-align: left;
}

.timestamp {
  font-size: x-small;
  font-style: italic;
  text-align: right;
}