body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.post {
  margin-bottom: 5%;
  border-style: inset;
  border-color: #6c6c6c;
  border-bottom-color: black;
}
